.container {
  background-color: #fff5f5;
}

.container h1 {
  text-align: center;
  font-size: 3.6rem;
  margin-bottom: 5.8rem;
  padding-top: 9.4rem;
  text-transform: uppercase;
}

.playersContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 4.8rem;
  gap: 4.8rem;
}

.pageIndexContainer {
  padding-top: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.pageIndexContainer button {
  width: 2.4rem;
  height: 2.4rem;
  border: none;
  background-color: #fa5252;
  color: #fff;
  transition: all 0.5s;
  cursor: pointer;
}

.pageIndexContainer button:visited,
.pageIndexContainer button:link {
  background-color: #fa5252;
}
.pageIndexContainer button:active,
.pageIndexContainer button:hover {
  background-color: #f03e3e;
}
